p {
  font-family: sans-serif;
  color: green;
}

nav {
  background-color: rgb(255, 255, 255);
  border-color: rgb(0, 0, 0);
  border-width: 5px;
  border-style: solid;
  border-radius: 10px;
}

.nav-item {
  position: relative;
  text-align: center;
  width: 90vw;
  list-style-type: none;
}

li {
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  display: inline;
}

.about-me {
  width: 20%;
  font-size: 60px;
  text-align: left;
  width: 100vw;
  padding: 20px;
  margin-top: -20px;
}
